@charset "utf-8";

/* RESET */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video {
	text-decoration: none;
	margin:0;
}
body, a, td:not(.editor) {
	color:#4f5458;
	font-size: 15px;
}
h1{ font-size: 20px; font-weight: 700;padding: 5px 0;margin: 5px 0;}
h2{ font-weight: 700;font-size: 17px;margin-bottom: 0;padding: 10px 0;}
figure {margin: 0}
figure img {width: 100%}
input{border: 1px solid #d0cece;padding: 5px 10px;}
h1.title {border-top: 1px solid #696c71; margin: 15px 0 10px 0;}
h1.error{font-size: 30px; color: red}

textarea {
    resize: none;
    border: 1px solid #d0cece;
    font-size: 15px;
    padding: 5px 10px;
}

ul.tab{list-style-type: none; padding-left: 0}
ul.tab li{float: left; padding: 10px}
ul.tab li a.selected{font-weight: bold}
ul.tab li a.selected:before {
   font: normal normal normal 14px/1 FontAwesome;
   content: "\f00c";
   display: inline-block;
   vertical-align: top;
}

ul.menu{list-style-type: none; padding-left: 0}
ul.menu li{
	float: left; 
	padding: 5px 10px; 
	border: 2px solid #9B8281; 
	border-bottom: 0; 
	margin-right: 5px;
	border-radius: 10px 10px 0 0;
}
ul.menu li.selected{background-color: #9B8281}
ul.menu li.selected a{font-weight: bold;color: #fff;}
ul.menu li.selected a:before {
   font: normal normal normal 14px/1 FontAwesome;
   content: "\f00c";
   display: inline-block;
   vertical-align: top;
   color: #fff;
}

.w80{width: 80px}
.w130{width: 130px}
.w200{width: 200px}
.w100p{width: 100%}
.w100p-im{width: 100% !important}
.w100p-95{width: calc(100% - 95px)}

.h500{height: 500px}

.p0{padding: 0}
.p0-im{padding: 0 !important}
.p8{padding: 8px}

.m0{margin: 0 !important}
.ml5{margin-left: 5px}
.mr5{margin-right: 5px}
.mt0{margin-top: 0 !important}
.mt3{margin-top: 3px}
.mt6{margin-top: 6px}
.mt10{margin-top: 10px}
.mt25{margin-top: 25px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}

.b10{bottom: 10px}

.left{float: left}
.right{float: right}

.al-left{ text-align: left}
.al-right{ text-align: right}
.al-center{ text-align: center}

.l-ivory {color: #e8ece5}
.l-gray {color: #d0cece}
.m-gray {color: #696c71}
.d-gray {color: #4f5458}
.l-blue {color: #c0e0e6}
.m-blue {color: #73c3cb}
.d-blue {color: #3d8a99}

.bg-l-brown {background-color: #f7f1ee}

.header-content { width: 100%; background-color: #F0E5DE; height: 70px;position:fixed;top: 0; z-index: 9999;}
.header-inside { width: 1000px; margin: 0 auto; padding-top: 25px;}
.header-inside .home-icon { font-size: 53px; color: #9B8281;}
.footer-content { width: 100%; background-color: #373d49; min-height: 70px}
.main-content { width: 1000px; margin : 70px auto 40px auto; min-height: 900px;line-break:anywhere}
.home-content { width: 100%; min-height: 900px;margin: 70px auto 0 auto;line-break:anywhere}

.modal-wrap {
	position: fixed;
	width:100%;
	height:100vh;
	background:rgba(0,0,0,0.5);
	z-index: 999;
	left:0;
	top:0px;
	opacity: 0;
	overflow-y: hidden;
	visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
  -ms-transition: visibility 0s linear 0.3s, opacity 0.3s;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal-wrap.is-visible {
	display: block;
	opacity: 1;
  -webkit-transition: all .2s linear 0s;
  -ms-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
  visibility: visible;
}
.modal-wrap .modal {
	position: absolute;
	left:50%;
	top:40%;
	background:#fff;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border:2px solid #9B8281;
	padding:26px 37px 20px;
}
.modal-wrap .txt-wrap{display: inline-block;}
.modal-wrap .txt-wrap p{margin: 5px 0;}
.modal .modal-close {float:right;}

.logo img{ width:auto; height: 42px; padding: 15px; margin-left: 100px}

.gray-table {border-collapse: collapse;}
.gray-table.center {text-align: center}
.gray-table th{background-color: #F0E5DE;; border: 1px solid #d0cece; padding: 5px 10px;}
.gray-table td{border: 1px solid #d0cece; padding: 5px 10px;}
.gray-table tr{height:35px;}

.input-70{width: calc(100% - 70px)}

.btn-wrap{width: 100%; display: inline-block;}
.btn{
	padding:4px 10px 4px 10px; 
	background-color:#9B8281; 
	color:#f2f2f2; 
	text-decoration:blink; 
	border-radius:5px; 
	margin:5px 0 5px 5px;
	border: 0
}
.btn.small{padding: 3px 6px 3px 6px; font-size: 12px;}

.paging {text-align: center;margin: 10px;}
.paging a{font-weight: 700}
.paging .selected{color:#9B8281}

.menu-ul{position:absolute;right:70px;top:23px;list-style:none; margin:0; padding:0;}
.menu-li{margin: 0; padding: 0; border : 0; float: left;cursor: pointer;}
.menu-li a{color: #77787b;font-size: 17px;font-weight: bold;}
.menu-li a:hover{padding-bottom: 19px;border-bottom: 4px solid #000000; font-weight: bold; color: #000000}
.menu-li.line:not(:last-child):after {
	content:'';
	display: inline-block;
	width:2px;
	height:20px;
	background:#cccccc;
    margin: 0 20px;
    position: relative;
    top: 3px;
}

.group-ul{list-style:none; margin:0; padding:0;display:inline-block;}
.group-li{margin: 0; padding: 0; border : 0; float: left;cursor: pointer;}
.group-li a{color: #808080;font-size: 17px;font-weight: bold;}
.group-li.active a{padding-bottom: 2px;border-bottom: 3px solid #000000; font-weight: bold; color: #000000}
.group-li.line:not(:last-child):after {
	content:'';
	display: inline-block;
	width:2px;
	height:17px;
	background:#cccccc;
    margin: 0 10px;
    position: relative;
    top: 3px;
}

.folding{display: none;}    
.inline{display: inline-block;}    
    
.home-content > .comp-list > .content:not(.slick-container) { width: 100%;display: inline-block;}
.home-content > .comp-list{overflow:hidden;}

.pick-list{padding: 10px}
.slick-data{margin: 0 15px; height: 150px; border: 5px solid #e8ece5;}
.slick-data .no{font-size: 15px; background-color: #e8ece5; padding: 5px}
.slick-data .title{font-size: 15px; background-color: #e8ece5; padding: 5px;text-align: center;position: relative;top: calc(50% - 35px); height: 30px}
.slick-data .slick-btn{padding: 5px;position: relative;top: 58px; height: 42px; text-align: right; z-index: 9999}

.file-ul li {padding: 5px 0}

span.file-name {position: relative;top: 9px;left: 5px;}

.btn-out {position: fixed;top: 15px;z-index: 9999;left: 20px;}

input[type="file" i]::-webkit-file-upload-button {background-color: #3d8999;border: 0;border-radius: 5px;color: #ffffff;}

.login-form{ margin: auto; padding: 20px 20px 15px 20px; background-color: #F0E5DE;}

p.warning{color: red}

.hover-color:hover {
	color: #9B8281
}

.gray-txt, .gray-txt a{ font-size: 12px; color:#696c71; display: inline;}

.auth-form{ width:240px; margin: auto; padding: 20px 20px 20px 20px; background-color: #F0E5DE;}

pre.admin:before {
   font: normal normal normal 14px/1 FontAwesome;
   content: "\f013";
   display: inline-block;
   margin-right: 5px;
}