<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linkedboard.qna.mapper.QnaMapper">
	<sql id="qnaFromWhere">
		FROM TB_QNA
		WHERE DEL_YN = 'N'
			<if test="username != null and username != '' and (isAdmin == null or isAdmin == '')">
				AND REG_USER = #{username}
			</if>
	</sql>
	
	<!-- qna 리스트 카운트 -->
	<select id="getQnaCnt" parameterType="map" resultType="int">
		SELECT COUNT(1)
			<include refid="qnaFromWhere"/>
	</select>
	
	<!-- qna 리스트 -->
	<select id="selectQna" parameterType="map" resultType="CamelListMap">
		<include refid="CommonMapper.paginationHeader"/>
			SELECT 
				QNA_ID
				, PARENT_ID
				, TITLE
				, CONTENT
				, REPLY
				, DEL_YN
				, REG_DT
				, REG_USER
				, UDT_DT
				, REPLY_DT
				, REPLY_USER
			<include refid="qnaFromWhere"/>
				ORDER BY REG_DT DESC
		<include refid="CommonMapper.paginationFooter"/>
	</select>
	
	<!-- qna 생성 -->
	<insert id="insertQna" parameterType="map">
		<selectKey order="BEFORE" resultType="int" keyProperty="qnaId">
			SELECT IFNULL(MAX(QNA_ID), 0) + 1 FROM TB_QNA 
		</selectKey>
		INSERT INTO TB_QNA (
			QNA_ID
			, PARENT_ID
			, TITLE
			, CONTENT
			, REG_USER
		) VALUES (
			#{qnaId}
			, #{parentId}
			, #{title}
			, #{content}
			, #{regUser}
		)
	</insert>
	
	<!-- qna 수정 -->
	<update id="updateQna" parameterType="map">
		UPDATE TB_QNA SET
			UDT_DT = CURRENT_TIMESTAMP
			, TITLE = #{title}
			, CONTENT = #{content}
		WHERE QNA_ID = #{qnaId}
	</update>
	
	<!-- qna 답변 -->
	<update id="replyQna" parameterType="map">
		UPDATE TB_QNA SET
			REPLY_DT = CURRENT_TIMESTAMP
			, REPLY_USER = #{replyUser}
			, REPLY = #{reply}
		WHERE QNA_ID = #{qnaId}
	</update>
	
	<!-- qna 상세 -->
	<select id="getQna" parameterType="map" resultType="CamelListMap">
		SELECT 
			QNA_ID
			, PARENT_ID
			, TITLE
			, CONTENT
			, REPLY
			, DEL_YN
			, REG_DT
			, REG_USER
			, UDT_DT
			, REPLY_DT
			, REPLY_USER
		FROM TB_QNA
		WHERE QNA_ID = #{qnaId}
	</select>
</mapper>