<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linkedboard.community.mapper.CommunityMapper">
	
	<!-- 게시글 생성 -->
	<insert id="insertBoardContent" parameterType="map">
		<selectKey order="BEFORE" resultType="int" keyProperty="contentId">
			SELECT IFNULL(MAX(CONTENT_ID), 0) + 1 FROM ${tableName} 
		</selectKey>
		INSERT INTO ${tableName} (
			CONTENT_ID
			, TITLE
			, CONTENT
			, CONTENT_PASSWORD
			, NOTICE_YN
			, REG_IP
		) VALUES (
			#{contentId}
			, #{title}
			, #{content}
			, #{contentPassword}
			, IFNULL(#{noticeYn}, 'N')
			, #{regIp}
		)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoardContent" parameterType="map">
		UPDATE ${tableName} SET 
			TITLE = #{title}
			, CONTENT = #{content}
			, NOTICE_YN = #{noticeYn}
			, UDT_IP = #{regIp}
			, UDT_DT = CURRENT_TIMESTAMP
		WHERE CONTENT_ID = #{contentId}
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoardContent" parameterType="map">
		UPDATE ${tableName} SET DEL_YN = 'Y' WHERE CONTENT_ID = #{contentId}
	</update>
	
	<sql id="boardContentWhere">
		FROM ${tableName} A
		WHERE A.DEL_YN = 'N'
			<if test="totSrch != null and totSrch != ''">
				AND (
					A.TITLE LIKE CONCAT('%', #{totSrch}, '%')
					OR A.CONTENT LIKE CONCAT('%', #{totSrch}, '%') 
				)
			</if>
	</sql>
	
	<!-- 게시글 카운트를 불러온다 -->
	<select id="getBoardContentCnt" parameterType="map" resultType="int">
		SELECT COUNT(1) 
		<include refid="boardContentWhere"/>
	</select>
	
	<!-- 게시글 리스트 -->
	<select id="selectBoardContent" parameterType="map" resultType="CamelListMap">
		<include refid="CommonMapper.paginationHeader"/>
			SELECT * FROM (
				SELECT 
					A.CONTENT_ID
					, A.TITLE
					, A.CONTENT
					, A.NOTICE_YN
					, A.VIEW_CNT
					, A.REG_DT
					, A.REG_IP
					, A.UDT_DT
					, A.UDT_IP
					, (SELECT COUNT(1) FROM ${tableCommName} Z WHERE Z.DEL_YN = 'N' AND Z.CONTENT_ID = A.CONTENT_ID) AS COMMENT_CNT
					<include refid="boardContentWhere"/>
			) A ORDER BY NOTICE_YN DESC
			<choose>
				<when test="orderBy != null and orderBy != '' and orderBy == 'comm'">, COMMENT_CNT DESC, REG_DT DESC</when>
				<when test="orderBy != null and orderBy != '' and orderBy == 'view'">, VIEW_CNT DESC, REG_DT DESC</when>
				<otherwise>, REG_DT DESC</otherwise>
			</choose>
		<include refid="CommonMapper.paginationFooter"/>
	</select>
	
	<!-- 게시글 상세 -->
	<select id="getBoardContent" parameterType="map" resultType="CamelListMap">
		SELECT 
			A.CONTENT_ID 
			, A.TITLE
			, A.CONTENT
			, A.CONTENT_PASSWORD
			, A.NOTICE_YN
			, A.REG_DT
			, A.REG_IP
			, A.UDT_IP
			, B.FILE_ORG_NAME
			, B.FILE_PATH
		FROM ${tableName} A
			LEFT JOIN ${tableFileName} B
				ON A.CONTENT_ID = B.CONTENT_ID
		WHERE A.CONTENT_ID = #{contentId}
			AND CASE WHEN B.FILE_ID IS NOT NULL THEN B.DEL_YN ELSE 'N' END = 'N'
	</select>
	
	<!-- 게시글 상세 -->
	<select id="getBoardInfo" parameterType="map" resultType="CamelListMap">
		SELECT
			BOARD_NAME
			, TABLE_NAME
			, ACCESS_TYPE
			, ACCESS_PASS
			, COMMENT_YN
			, FILE_LIMIT
			, BLOCK_YN
			, BLOCK_REASON
			, DP_YN
		FROM TB_BOARD 
		WHERE USERNAME = #{username} 
			AND BOARD_ID = #{boardId}
	</select>
	
	<!-- 댓글 생성 -->
	<insert id="insertBoardComment" parameterType="map">
		<selectKey order="BEFORE" resultType="int" keyProperty="commentId">
			SELECT IFNULL(MAX(COMMENT_ID), 0) + 1 FROM ${tableCommName} 
		</selectKey>
		INSERT INTO ${tableCommName} (
			COMMENT_ID
			, CONTENT_ID
			, COMMENT
			, COMMENT_PASSWORD
			, ADMIN_YN
			, REG_IP
		) VALUES (
			#{commentId}
			, #{contentId}
			, #{comment}
			, #{commentPassword}
			, IFNULL(#{adminYn}, 'N')
			, #{regIp}
		)
	</insert>
	
	<!-- 댓글 삭제 -->
	<update id="deleteBoardComment" parameterType="map">
		UPDATE ${tableCommName} SET DEL_YN = 'Y' WHERE COMMENT_ID = #{commentId}
	</update>
	
	<sql id="boardCommentFromWhere">
		FROM ${tableCommName}
		WHERE DEL_YN = 'N'
			AND CONTENT_ID = #{contentId}
	</sql>
	
	<!-- 댓글 카운트 -->
	<select id="getBoardCommentCnt" parameterType="map" resultType="int">
		SELECT COUNT(1)
		<include refid="boardCommentFromWhere"/>
	</select>
	
	<!-- 댓글 리스트 -->
	<select id="selectBoardComment" parameterType="map" resultType="CamelListMap">
		<include refid="CommonMapper.paginationHeader"/>
			SELECT 
				COMMENT_ID
				, CONTENT_ID
				, COMMENT
				, COMMENT_PASSWORD
				, ADMIN_YN
				, REG_DT
				, REG_IP
			<include refid="boardCommentFromWhere"/>
			ORDER BY REG_DT
		<include refid="CommonMapper.paginationFooter"/>
	</select>
	
	<!-- 댓글 상세 -->
	<select id="getBoardComment" parameterType="map" resultType="CamelListMap">
		SELECT 
			COMMENT_ID
			, CONTENT_ID
			, COMMENT
			, COMMENT_PASSWORD
			, REG_DT
			, REG_IP
		FROM ${tableCommName}
		WHERE COMMENT_ID = #{commentId}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateBoardViewCnt" parameterType="map">
		UPDATE ${tableName} SET VIEW_CNT = VIEW_CNT + 1 WHERE CONTENT_ID = #{contentId}
	</update>
</mapper>