<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.linkedboard.mgnt.mapper.MgntMapper">
	<sql id="contentBoardWhere">
		FROM ${tableName} A
		WHERE A.DEL_YN = 'N'
			<if test="totSrch != null and totSrch != ''">
				AND (
					A.TITLE LIKE CONCAT('%', #{totSrch}, '%')
					OR A.CONTENT LIKE CONCAT('%', #{totSrch}, '%') 
				)
			</if>
	</sql>
	<!-- 게시글 카운트를 불러온다 -->
	<select id="getContentBoardCnt" parameterType="map" resultType="int">
		SELECT COUNT(1)
		<include refid="contentBoardWhere"/>
	</select>
	
	<!-- 게시글 목록 -->
	<select id="selectContentBoard" parameterType="map" resultType="CamelListMap">
		<include refid="CommonMapper.paginationHeader"/>
			SELECT * FROM (
				SELECT 
					A.CONTENT_ID
					, A.TITLE
					, A.CONTENT
					, A.CONTENT_PASSWORD
					, A.NOTICE_YN
					, A.VIEW_CNT
					, A.REG_DT
					, A.REG_IP
					, A.UDT_DT
					, A.UDT_IP
					, (SELECT COUNT(1) FROM ${tableCommName} Z WHERE DEL_YN = 'N' AND Z.CONTENT_ID = A.CONTENT_ID) AS COMMENT_CNT
					<include refid="contentBoardWhere"/>
			) A ORDER BY NOTICE_YN DESC
			<choose>
				<when test="orderBy != null and orderBy != '' and orderBy == 'comm'">, COMMENT_CNT DESC, REG_DT DESC</when>
				<when test="orderBy != null and orderBy != '' and orderBy == 'view'">, VIEW_CNT DESC, REG_DT DESC</when>
				<otherwise>, REG_DT DESC</otherwise>
			</choose>
		<include refid="CommonMapper.paginationFooter"/>
	</select>
	
	<!-- 게시판 정보 -->
	<select id="getBoard" parameterType="map" resultType="CamelListMap">
		SELECT
			BOARD_NAME
			, TABLE_NAME
			, ACCESS_TYPE
			, ACCESS_PASS
			, COMMENT_YN
			, FILE_LIMIT
		FROM TB_BOARD 
		WHERE USERNAME = #{username} 
			AND BOARD_ID = #{boardId}
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoardContent" parameterType="map">
		<selectKey order="BEFORE" resultType="int" keyProperty="contentId">
			SELECT IFNULL(MAX(CONTENT_ID), 0) + 1 FROM ${tableName} 
		</selectKey>
		INSERT INTO ${tableName} (
			CONTENT_ID
			, TITLE
			, CONTENT
			, CONTENT_PASSWORD
			, NOTICE_YN
			, ADMIN_YN
			, REG_IP
		) VALUES (
			#{contentId}
			, #{title}
			, #{content}
			, #{contentPassword}
			, IFNULL(#{noticeYn}, 'N')
			, IFNULL(#{adminYn}, 'N')
			, #{regIp}
		)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoardContent" parameterType="map">
		UPDATE ${tableName} SET 
			TITLE = #{title}
			, CONTENT = #{content}
			, NOTICE_YN = #{noticeYn}
			, UDT_IP = #{regIp}
			, UDT_DT = CURRENT_TIMESTAMP
		WHERE CONTENT_ID = #{contentId}
	</update>
	
	<!-- 게시글 상세 -->
	<select id="getBoardContent" parameterType="map" resultType="CamelListMap">
		SELECT 
			A.CONTENT_ID 
			, A.TITLE
			, A.CONTENT
			, A.CONTENT_PASSWORD
			, A.NOTICE_YN
			, A.REG_DT
			, A.REG_IP
			, A.UDT_IP
			, B.FILE_ORG_NAME
			, B.FILE_PATH
		FROM ${tableName} A
			LEFT JOIN ${tableFileName} B
				ON A.CONTENT_ID = B.CONTENT_ID
		WHERE A.CONTENT_ID = #{contentId}
			AND CASE WHEN B.FILE_ID IS NOT NULL THEN B.DEL_YN ELSE 'N' END = 'N'
	</select>
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoardContent" parameterType="map">
		UPDATE ${tableName} SET
			DEL_YN = 'Y' 
		WHERE CONTENT_ID IN 
		<foreach collection="contentIds" item="id" open="(" close=")" separator=",">#{id}</foreach>
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="deleteBoardComment" parameterType="map">
		UPDATE ${tableCommName} SET
			DEL_YN = 'Y' 
		WHERE COMMENT_ID IN 
		<foreach collection="commentIds" item="id" open="(" close=")" separator=",">#{id}</foreach>
	</update>
</mapper>